body {
  font-family: Garamond, serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #53bae7;
  position: absolute;
  height: 100%;
  overflow: auto;
  transition: all 0.3s linear;
  z-index: 1;
}
div a,
ul li a {
  text-decoration: none;
}

ul li {
  padding: 0;
}
.sidebar a {
  display: block;
  color: black;
  padding: 11px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #ffffff;
  color: black;
}

.sidebar a:hover:not(.active) {
  background-color: #ffffff;
  color: rgb(0, 89, 255);
}

div.content {
  margin-top: 20px;
  margin-left: 200px;
  padding: 1px 16px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 0;
    height: 100%;
    margin-left: 12px;
    top: 0;
    left: 0;
    margin-top: 64px;
    overflow-x: hidden;
    transition: all 0.3s linear;
    z-index: 999;
  }

  .sidebar a {
    float: none;
  }

  div.content {
    margin-top: 15px;
    margin-left: 0;
  }

  #toggle-sidebar {
    display: block;
  }
}

@media screen and (min-width: 700px) {
  #toggle-sidebar {
    display: none;
  }
}
